.container {
    max-width: $max-width;
    padding-left: 15px;
    padding-right: 15px;
}
.attribution {
    text-align: center;
    margin-top: 3rem;
    @include from(x-large) {
        text-align: left;
    }
}
