:root {
    --animation-delay: 0.3s;
}
.profile {
    --img-width: 254px;
    --img-height: 253px;
    --column-setting: 1fr;
    &-img-container {
        position: relative;
        width: rem(327px);
        height: rem(308px);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-img-switcher {
            position: absolute;
            bottom: 0;
            background-color: white;
            border-radius: 28px;
            width: 80px;
            height: 40px;
            box-shadow: 0 15px 20px -10px rgba($color: #242471, $alpha: 0.1);
            display: flex;
            justify-content: space-around;
            align-items: center;
            transition: all 0.3s ease-in-out;
        }
    }
    &_img {
        object-fit: cover;
        width: var(--img-width);
        height: var(--img-height);
        border-radius: 4px;
        margin-top: 1.9rem;
        z-index: -1;
        transition: opacity var(--animation-delay) ease-in-out;
    }
    &_img_bg {
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: var(--column-setting);
    row-gap: 2.5rem;
    margin-top: 2rem;
    .icon-prev,
    .icon-next {
        width: 15px;
        height: 14px;
    }

    @include from(x-large) {
        margin-top: 0;
        --column-setting: 1fr 1fr;
        row-gap: 0;
        --img-width: 540px;
        --img-height: 540px;
        &-img-container {
            order: 2;
            height: auto;
            background-size: cover;
        }
        &_img {
            margin-top: 0;
            object-fit: cover;
        }
        &_img_bg {
            bottom: -55px;
            width: auto;
            left: -53%;
        }
        .profile-img-switcher {
            width: rem(112px);
            height: rem(56px);
            bottom: -25px;
            left: -52px;
            .prev,
            .next {
                height: inherit;
                width: 100%;
            }
            .prev {
                border-top-left-radius: 28px;
                border-bottom-left-radius: 28px;
            }
            .next {
                border-top-right-radius: 28px;
                border-bottom-right-radius: 28px;
            }
            .prev:hover,
            .next:hover {
                background: $dark-blue;
                .icon-prev,
                .icon-next {
                    path {
                        stroke: white;
                    }
                }
            }
            .icon-prev,
            .icon-next {
                width: 20px;
                height: 20px;
            }
        }
    }
}
.profile-images {
    display: flex;
}

.profile_info {
    --description-width: 311px;
    position: relative;
    height: 280px;
    background-image: url(../../../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 60px;
    @include from(x-large) {
        background-position: 95px top;
        background-size: 120px;
    }
    &_description {
        transition: opacity var(--animation-delay) ease-in-out;
        font-size: $normal-font;
        font-weight: $light-weight;
        color: $dark-blue;
        line-height: $small-lineheight;
        margin-bottom: rem(19px);
        margin-top: 1.5rem;
        width: var(--description-width);
        margin-left: auto;
        margin-right: auto;
        @include from(x-large) {
            width: 635px;
            text-align: left;
            font-size: $big-font;
            line-height: $big-lineheight;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
    }
}
.profile_name {
    transition: opacity var(--animation-delay) ease-in-out;
    &_main {
        color: $dark-blue;
        font-size: $small-font;
        margin-bottom: 0.2rem;
        font-weight: $bold-weight;
        margin-right: rem(10px);
    }
    &_title {
        color: $grayish-blue;
    }
    @include from(x-large) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &_main {
            margin-bottom: 0;
        }
        &_main,
        &_title {
            font-size: $medium-font;
        }
    }
}
.hide {
    opacity: 0;
}
